* {
    margin: 0;
    padding: 0;
  }
 
  
  #main-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: auto;
    margin-top: 2rem;
    padding: 10px;
    text-align: center;
  }
  
  .app-title {
    margin: 2rem 0;
  }
  label{
    margin-top: 2rem;
    margin-bottom: 0.3rem;
    text-align: left;
    font-family: monospace;
  }
  input{
    border: 2px solid rgb(134, 55, 207);
    border-radius: 5px;
    padding: 5px;
  }
  #check-btn{
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    width: 40%;
    padding: 5px 0px;
    background-color:rgba(143, 82, 201, 0.521);
    border: 1px solid;
    border-radius: 5px;
  }

  #result-display{
    display: none;
    margin-top: 2rem;
    font-style: italic;
    font-weight: 100;
  }